@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  background-image: url(https://i.gifer.com/5EDx.gif);
  background-size: auto;
}


.NavBar {
  background-color: rgba(130, 100, 190, 0.5);
  padding: 1.5%;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}

a.link {
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: large;
}

a.link.active {
  font-weight: bold;
  color: rgb(159, 137, 255);
}

a {
  color: rgb(202, 202, 202);
}

.kitten-card {
  background-color: rgba(176, 138, 251, 0.35);
  width: 200px;
  height: 200px;
  padding: 7px 7px 7px 7px;
  margin: 10px 10px 10px 10px;
  object-fit: contain;
  border-radius: 7px;
  
}

img {
  width: 175px;
  height: 175px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  position: absolute;

}

.submit {
  width: 120px;
  border-radius: 7px;
  margin: 5px 30px 5px 0px;
  font-family: "Pixelify Sans", sans-serif;
  color: rgba(202, 202, 202);
  background-color: black;
  cursor: pointer;
}

.kitten-form {
  background-color: rgb(130, 100, 190, 0.5);
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 7px;
}

.form-label {
  font-family: "Pixelify Sans", sans-serif;
  color: rgb(202, 202, 202);
}

.remove {
  background-color: rgb(50, 50, 50);
  color: rgb(159, 137, 255);
  border-radius: 7px;
  width: 100px;
  margin-left: 55px;
  cursor: pointer;
}

.fave-header {
  color: rgb(202, 202, 202);
  font-family: "Pixelify Sans", sans-serif;
}

.fave-kitten-container {
  background-color: rgba(176, 138, 251, 0.35);
}

button.selected {
  background-color: rgb(159, 137, 255);
  border: 2px solid rgb(50, 50, 50);
  font-family: "Pixelify Sans" sans-serif;
  color: black;
  border-radius: 5px;
  font-size: larger;
  cursor: pointer;
}

button.not-selected {
  background-color: rgb(50, 50, 50);
  color: rgb(202, 202, 202);
  border: 2px solid rgb(159, 137, 255);
  border-radius: 5px;
  font-size: larger;
  font-family: "Pixelify Sans" sans-serif;
  cursor: pointer;
}

body {
  font-family: "Pixelify Sans" sans-serif
}

.new-kitten-form {
  background-color: rgba(176, 138, 251, 0.35);
  display: block;
  border-radius: 7px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: min-content;
  padding: 20px;

}

.form-title {
  font-family: "Pixelify Sans" sans-serif;
  color: rgb(202, 202, 202);
}

.label-text {
  font-family: "Pixelify Sans" sans-serif;
  color: rgb(202, 202, 202);
}